h1 {
    font-family: arial, tahoma, verdana, "sans serif";
    color: #2784cc;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
}

h2 {
    font-family: arial, tahoma, verdana, "sans serif";
    color: #cc7c29;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
}

form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 400px;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #2784cc;
    border-radius: 1em;
}

input {
    /* Pour que tous les champs texte aient la même dimension */
    width: 350px;
    box-sizing: border-box;
    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
    border-radius: 0.5em;
}

input:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-color: #cc7c29;
}

#send {
    width: 350px;
    box-sizing: border-box;
    border: 1px solid #999;
}

#send:hover {
    background-color: #2784cc; /* Green */
    color: white;
}

#myLink {
    text-align: center;
    color: #2784cc;
    font-family: verdana;
    font-size: 12px;
    padding: 5px 20px;
    text-decoration: none;
    border: solid 1px #cc7c29;
    border-radius: 5px;
}

#myLink:hover {
    background-position: bottom;
    border: solid 1px #2784cc;
    color: #cc7c29;
}

#logo {
    display: block;
    margin: auto;
    padding-bottom: 5px;
}