
/* ==================================================== */
/*                  Page d'administration               */
/* ==================================================== */

html {
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

/* ========= HEADER ========= */

.page-admin header {
    background-color: black;
    color: white;
}

.page-admin header img{
    width: 100px;
    padding: 5px;
    vertical-align: middle;
}

.page-admin span.title {
    font-size: 20px;
}

.page-admin span.version {
    font-size: 16px;
    float: right;
    display: flex;
    margin: 20px 20px 0 4px;
}

.page-admin span.version .num{
    font-weight: bold;
    padding-left: 5px;
}


/* ========= BODY ========= */

.page-admin .body {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* ========= NAV ========= */

.page-admin .body nav {
    position: absolute;
    background-color: #343131;
    color: #b3b3b3;
    width: 30vw;
    height: 100%;
}

@media screen and (min-width: 1000px){
    .page-admin .body nav {
        width: 300px;
    }
}

.page-admin .body nav ul {
    padding: 0;
}


.page-admin .body nav li {
    list-style: none;
    font-size: 90%;
    padding: 5px 23px;
    line-height: 18px;
    cursor: pointer;
}

.page-admin .body nav li:hover {
    background-color: #4e4a4a;
}

.page-admin .body nav a {
    text-decoration: none;
    color: #b3b3b3;
}

/* ========= SECTION ========= */

.page-admin .body section {
    margin-left: 30vw;
    background-color: white;
    position: absolute;
    width: 100%;
}

@media screen and (min-width: 1000px){
    .page-admin .body section {
        margin-left: 300px;
    }
}

.page-admin .body section .content {
    padding: 25px 50px;
    font-size: 14px;
}
.page-admin .content .title {
    font-size: 26px;
    margin: 23px 0;
    font-weight: bold;
    color: #404040;
}


/* ============================== */
/*            PAGE ADD            */
/* ============================== */

/* ========= PAGE-AJOUT ========= */

.page-admin .content .page-ajout .champs {
    position: relative;
    margin: 24px 0;
}

.page-admin .content .page-ajout input[type=text]{
    border: none;
    border-bottom: 1px solid #ced4da;
    background-color: transparent;
    padding: 4.8px 0 8.8px 0;
    color: #555;
    font-size: 14px;
    width: 40%;
}

.page-admin .content .page-ajout input[type=text]:focus {
    border-bottom: 1px solid #5f96ef;
}

.page-admin .content .page-ajout .upload label {
    font-size: 0.8em;
    position: absolute;
    top: -14px;
    left: 0;
    color: #757575;
}

.page-admin .content .page-ajout .champs-block label{
    font-size: 0.8em;
    position: absolute;
    top: -15px;
    left: 0;
    color: #757575;
}

.page-admin .content .page-ajout .send {
    cursor: pointer;
    padding: 13px 34px;
    background-color: #33b5e5;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    width: 40%;
    border-radius: 3px;
}

.page-admin .content .page-ajout .send:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)

}



/* ============================== */
/*            PAGE LIST           */
/* ============================== */

/* ========= LIST ========= */

.page-admin .content .page-list {
    font-size: 12px;
    margin-right: 30vw;
}

@media screen and (min-width: 1000px){
    .page-admin .content .page-list {
        margin-right: 300px;
    }
}

.page-admin .content .page-list .list{
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #f2f2f2;
    border-radius: 0 0 4px 4px;
}

.page-admin .content .page-list .list .element {
    border-bottom: 1px solid #f2f2f2;
    display: flex;
}

.page-admin .content .page-list .list .head{
    background-color: #33b5e5;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
}

.page-admin .content .page-list .list .element:hover {
    background-color: #f2f2f2;
}


.page-admin .content .page-list .list .image {
    margin: 9px 9px;
    background-size: contain !important;
    width: 20px;
    height: 20px;
}

.page-admin .content .page-list .list .id {
    flex: 0.2;
    margin-right: 5px;
}

.page-admin .content .page-list .list .titre {
    flex: 3;
    margin-right: 3px;
}

.page-admin .content .page-list .list .artiste {
    flex: 3;
    margin-right: 3px;
}


.page-admin .content .page-list .list .album {
    flex: 3;
    margin-right: 3px;
}


.page-admin .content .page-list .list .genre {
    flex: 5;
    margin-right: 3px;
}


.page-admin .content .page-list .list .annee {
    flex: 1;
    margin-right: 3px;
}

.page-admin .content .page-list .list a {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #33b5e5;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    border-radius: 3px;
    margin: 10px;
    height: 15px;
}

.page-admin .content .page-list .list a:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}

.page-admin .content .page-list .list .modif,
.page-admin .content .page-list .list .suppr {
    width: 140px;
}

.page-admin .content .page-list .list a.modif {
    flex: 1;
    background-color: #00c851;
    text-decoration: none;
}

.page-admin .content .page-list .list a.suppr {
    flex: 1;
    background-color: #ff3547;
    text-decoration: none;
}

.page-admin .content .page-list .list .element .image,
.page-admin .content .page-list .list .element .id,
.page-admin .content .page-list .list .element .titre,
.page-admin .content .page-list .list .element .artiste,
.page-admin .content .page-list .list .element .album,
.page-admin .content .page-list .list .element .genre,
.page-admin .content .page-list .list .element .annee {
    padding-top: 9px;
}


@media screen and (max-width: 1300px){
    .page-admin .content .page-list .list a {
        padding: 10px 1vw;
        margin: 1vw;
    }

    .page-admin .content .page-list .list .modif,
    .page-admin .content .page-list .list .suppr {
        flex: 4;
    }

}

/* ========= MODAL ========= */

.page-admin .content .page-list .modal_suppr {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.page-admin .content .page-list .modal_suppr .modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    width: 50%;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    border: 0;
}

.page-admin .content .page-list .modal_suppr .modal-header {
    background-color: #ff3547;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    padding: 16px;
    color: white;
    font-size: 18px;
    margin: 0;
}

.page-admin .content .page-list .modal_suppr .close {
    color: white;
    float: right;
    font-size: 18px;
    font-weight: bold;
}

.page-admin .content .page-list .modal_suppr .close:hover,
.page-admin .content .page-list .modal_suppr .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.page-admin .content .page-list .modal_suppr .modal-header p {
    margin: 0;
}

.page-admin .content .page-list .modal_suppr .modal-body {
    padding: 24px;
    color: #616161;
    font-size: 14px;
    text-align: center;
}

.page-admin .content .page-list .modal_suppr form {
    display: inline;
}

.page-admin .content .page-list .modal_suppr button,
.page-admin .content .page-list .modal_suppr input[type=submit] {
    cursor: pointer;
    padding: 10px 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    margin: 10px;
    width: 120px;
    text-transform: uppercase;
}

.page-admin .content .page-list .modal_suppr .annuler {
    background-color: white;
    color: #ff3547;
    border: 2px solid #ff3547 !important;
}

.page-admin .content .page-list .modal_suppr .suppr{
    background-color: #ff3547;
    color: white;
}

