extends admin_template

block content
    .home
        .title Bienvenue sur la page d'administration
        p Vous pouvez utiliser les fonctionnalités de la page avec la navigation qui se trouve à gauche
