doctype html
html(lang='fr')
    head
        meta(charset='UTF-8')
        title Page d'administration
        link(rel='stylesheet', type='text/css', href='/stylesheets/pageAdmin.css')
        script(type='text/javascript').
            function escapeHtml(unsafe){
                var map = {
                    '&': '&amp;',
                    '<': '&lt;',
                    '>': '&gt;',
                    '"': '&quot;',
                    "'": '&#039;'
                };
                return unsafe.replace(/[&<>"']/g, function(m) { return map[m]; });
            };

    body
        .page-admin
            header
                img(src='/images/_icons/logoWIP.png', alt='Logo WIP')
                span.title Administration
                span.version Version :
                    span.num 0.1.2
            .body
                nav
                    ul
                        li
                            a(href='/admin')
                                .tab Tableau de bord
                        li
                            a(href='/admin/list')
                                .tab Liste des musiques
                        li
                            a(href='/admin/add')
                                .tab Ajouter une musique

                section.section
                    .content
                        block content


