doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='PlayerMP3')
        meta(name='author', content='Work in Progress')
        title Fasma
        // Custom styles for this template
        link(rel='stylesheet', media="screen and (min-width: 600px)" href='/stylesheets/player.css')
        link(rel='stylesheet', media="screen and (max-width: 600px)" href='/stylesheets/player_mobile.css')


    body
        iframe(src='http://localhost:3000/music?idMusic=1', width='50%', height='230', frameborder="no", scrolling="no")



        iframe(src='http://localhost:3000/music?idMusic=1', width='20%', height='400', frameborder="no", scrolling="no")


        br


        iframe(src='http://localhost:3000/music?idPlaylist=1', width='50%', height='700', frameborder="no", scrolling="no")


