doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Ajout Piste
        link(rel='stylesheet', type='text/css', href='pageAdmin.css')
        script(type='text/javascript', src='pageAdmin.js')
    body
        h1 PAGE ADMINISTRATION
        div
            h2 File successfully uploaded !
        div
            a#myLink(href='/admin') Ajouter un nouveau fichier