body {
  background-color: lightblue;
  font-family: sans-serif;
}

.audioplayer {
    position: relative;
    background-color: white;
    height: 100%;
    width: 100%;
    min-height: 150px;
    min-width: 150px;
    /* max-height: 300px;
    max-width: 300px; */
}

.audioplayer .visuel {
    position: absolute;
    background-color: green;
    background: url(ImagineDragons_Zero.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.audioplayer .infos {
    position: absolute;
    top: 0;
    display: flex;
    margin-left: 150px;
}

.audioplayer .infos .artiste {
    margin: 10px;
    margin-top: 13px;
    color: #999;
    font-size: 12px;
}

.audioplayer .infos .titre {
    margin: 10px;
    margin-top: 11px;
}

.audioplayer .waveform {
    position: absolute;
    background-color: red;
    margin-left: 150px;
    width: 100%;
    height: 50%;
    top: 30%;
}

.audioplayer .controls {
    position: absolute;
    bottom: 0;
    left: 42%;
}

.audioplayer .temps {
    position: absolute;
    bottom: 0;
    display: flex;
    margin-left: 150px;
}

.audioplayer .temps .en-cours {
  margin: 5px;
}

.audioplayer .temps .total {
  margin: 5px;
}

.audioplayer .statistiques {
  position: absolute;
  display: flex;
  bottom: 5px;
  right: 20px;

}

.audioplayer .social {
    position: absolute;
    top: 10px;
    right: 20px;
}


.audioplayer .social>button {
    border: 1px solid #ccc;
    padding: 8px 16px;
    cursor: pointer;
    background-color: white;
}

.audioplayer .social>button:hover {
    background-color: #e7e7e7;
}
